<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BLOG</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/lib/jquery/jquery-ui.css">
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/fonts/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/fonts/css/ionicons.min.css">
<link rel="stylesheet" href="/lib/iCheck/square/blue.css">
<link rel="stylesheet" href="/lib/toastr/toastr.css">
<link rel="stylesheet" href="/lib/pace/pace.css">
<link rel="stylesheet" href="/lib/loaders/loaders.min.css">
<link rel="stylesheet" href="/lib/layer/layer.css">
<link rel="stylesheet" href="/lib/layer/layer.ext.css">
<link rel="stylesheet" href="/lib/bootstrapMaterial/bootstrap-material-design.css">
<link rel="stylesheet" href="/stylesheets/chat.css">



<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-ui.js"></script>
<script src="/lib/jquery/jquery.validate.js"></script>
<script src="/lib/jquery/jquery.validate.messages_cn.js"></script>
<script src="/lib/cookies/jquery.cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/lib/fastclick/fastclick.js"></script>
<script src="/lib/toastr/toastr.js"></script>
<script src="/lib/pace/pace.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/bootstrapMaterial/material.min.js"></script>

