<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{>head}}
  </head>
  <body class="hold-transition login-page">
    {{{body}}}
    
    {{>footer}}
  </body>
</html>

<link rel="stylesheet" href="/stylesheets/login.css">
<script src="/chat/common.js"></script>
<script src="/chat/login.js"></script>

