<div class="wrapper-menu">
  <section class="logo">
    <span>WeChat</span>
  </section>
  <section class="menu">
    <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-xs" data-button="addFrd">添加好友</a>
  </section>
</div>
<div class="wrapper-content">
  <section class="list">
    
  </section>
  <section class="content">
    <div class="box-content">
      1
    </div>

    <div class="box-send">
      <input class="chat-input" id="inputTxt">
    </div>
  </section>
</div>

<div class="wrapper-add">
  <section class="return">
    <label href="#" class="returnBtn" data-button="returnBtn">< 返回</label>
  </section>
  <section class="search">
    <input type="text" class="search-input" placeholder="Search">
  </section>
  <section class="list">

  </section>
  
</div>

